@use "./../../styles/colors" as *;

.container {
    width: 100%;
    background-color: $light-grey;
    margin-top: 92px;
    padding-bottom: 70px;
    
}

//HEADER INFO PRODUCTO
.header {
    width: 100%;
    margin-top: 92px;
    background-color: #31363F;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
}

.header h2 {
    font-size: 24px;
    font-weight: bold;
}

.header a {
    color: $white;
}

.sub_title {
    font-size: 22px;
    color: $grey;
    margin: 10px;
    font-weight: 700;
}

//FORMULARIO
.form_container{
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    //margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.form_container label {
    font-weight: 500;
    
}

.infoInput {
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 15%);
    background-color: white;
    
}

.infoInput::placeholder {
    color: #797a79;
    font-size: 16px;
}

.form_container textarea {
    width: 100%;
    padding: 10px;
    height: 100px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 15%);
}

.form_container h3 {
    font-size: 20px;
    font-weight: 700;
}

.form_container h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
}

.box_container {
    background-color: $light-grey;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 15%);
}

.data_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.data_box1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.box_info {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box_btn_char {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox_box {
    list-style: none;
    display: inline-flex;
    align-items: center;
    width: calc(100% - 10px - 1px);
    margin-right: 10px;
}

.checkbox_box input {
    width: 40px;
    height: 40px;
    background-color: $light-grey;
    box-shadow: none;
    :checked{
        background-color: $orange;
    }
}

.checkbox_box p {
    padding-left: 10px;
}


.politics_container {
    width: 100%;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 15%);
}

.politics_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.politics_container label {
    margin-left: 10px;
}

.form_container button {
    background-color: $orange;
    border-radius: 4px;
    font-size: 20px;
    color: $black;
    width: 100%;
    height: 40px;
    font-weight: 500;
}

.images_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box_btn_img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px 0;
}

.btn_submit {
    width: 100%;
}

@media (min-width: 768px) {
    .data_box {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 15px;
    }
    .data_box1 {
        width: 50%;
        gap: 10px;
    }
    .checkbox_box {
        width: calc(100% * (1/2) - 10px - 1px);
    }
    .box_info {
        width: 90%;
    }
    .box_btn_char {
        width: 10%;
    }
    .box_btn_img {
        width: 10%;
    }
    .btn_submit {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .checkbox_box {
        width: calc(100% * (1/3) - 10px - 1px);
    }
    .box_info {
        width: 95%;
        flex-direction: row;
        align-items: center;
    }
    .box_btn_char {
        width: 5%;
    }
    .politics_container{
        flex-direction: row;
    }
    .politics_box {
        width: 33%;
    }
    .politics_container textarea {
        height: 150px;
    }
    /* .images_container {
        flex-direction: row;
    }
    .images {
        width: 50%;
    } */
    .btn_submit {
        width: 30%;
    }
}

@media (min-width: 1440px) {
    .checkbox_box {
        width: calc(100% * (1/4) - 10px - 1px);
    }

}